.body-container {
  background-color: black;
  /* background-image:
    linear-gradient(rgba(170, 159, 128, 0.3), rgba(170, 159, 128, 0.7)),
    url("/Biblio.png"); */
  background-image:
    linear-gradient(rgba(170, 159, 128, 0.3), rgba(170, 159, 128, 0.7)),
    url("/Biblio.png");

  background-size: 70%;
  background-repeat: no-repeat;
  min-height: 100vh;
  background-position: center 100%;
  background-attachment: fixed;

  padding-top: 8em;
}
