.cart-view {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
  padding: 1rem;
  margin: 1rem auto;
  gap: 1rem;
}

.cart-items {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  justify-content: space-between;
}

.cart-item {
  display: flex;
  gap: 2rem;
  align-items: center;
  width: 60%;
  padding: 1.5rem;
  background-color: rgb(206, 206, 211);
  border-radius: 6px;
}

.cart-info {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.cart-container {
  width: 80%;
  margin: 2rem auto; /* centra el contenedor */
  display: flex;
  flex-direction: column; /* uno abajo del otro */
  align-items: center;
  gap: 1.5rem; /* separación entre total y botones */
  margin-bottom: 0;
  padding-bottom: "10px";
}

.cart-total span {
  font-size: 1.4rem;
  font-weight: bold;
  color: rgb(26, 25, 25);
}

.cart-buttons {
  display: flex;
  gap: 1rem;
}

.btn-clear {
  /* margin-left: "4rem";
  margin-right: "4rem"; */
  background-color: rgb(235, 169, 169);
  border-radius: 6px;
  border-color: rgb(235, 169, 169);
  /* padding: 5px; */
  color: white;
}

.btn-finalizar-compra {
  background-color: rgb(88, 131, 93);
  border-radius: 6px;
  border-color: rgb(88, 131, 93);
  padding: 5px;
}

.btn-clear:hover {
  font-weight: bold;
  color: white;
}
