.cart-nav {
  color: rgb(206, 206, 211);
  text-decoration: none;
  flex-direction: row;
  cursor: pointer;
  transition: color 0.3s ease;
  margin-top: 8px;
  margin-left: 9rem;
}

.cart-nav:hover {
  color: rgb(83, 56, 156);
}
