.form-title {
  font-family: "Dancing Script", cursive;
  font-size: 3rem;
  text-align: center;
  margin-top: 20px;
}

.form-fondo {
  background-color: rgba(138, 134, 143, 0.8);
  width: 600px;
  margin: 0 auto;
  padding: 1.5rem;
  border-radius: 8px;
}

.form-color {
  background-color: rgba(154, 151, 158, 0.9);
  border: 1px solid rgb(154, 151, 158) !important;
}

.form-container {
  background-color: rgba(138, 134, 143, 0.8);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 600px;
  padding: 2rem;
  margin: 0 auto;
  border-radius: 0.5rem;
  font-family: "Dancing Script", cursive;
}
