.form-container {
  background-color: rgba(138, 134, 143, 0.8);
  display: flex;
  flex-direction: column; /* elementos uno abajo del otro */
  align-items: center; /* centra horizontal */
  justify-content: center; /* centra vertical dentro del div */
  width: 600px; /* ancho fijo */
  padding: 2rem; /* espacio interno */
  margin: 0 auto; /* centrar el contenedor */
  border-radius: 0.5rem;
  font-family: "Dancing Script", cursive;
}
