.form-container {
  background-color: rgba(138, 134, 143, 0.8);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 600px;
  padding: 2rem;
  margin: 0 auto;
  border-radius: 0.5rem;
  font-family: "Dancing Script", cursive;
}
