.style-h1 {
  text-align: center;
  color: rgb(8, 7, 1);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 70vh;
  font-family: "Dancing Script", cursive;
  font-size: 2.5rem;
}
