.card-title {
  font-size: 1.1rem;
  font-weight: 200;
  gap: 0.5rem;
}

.card-style {
  width: 10rem;
  background-color: rgba(206, 206, 211, 0.8);
  border-radius: 6px;
  font-family: "Dancing", "Monserrat", sans-serif;
  font-size: 1rem;
}
