.btn {
  color: rgb(206, 206, 211);
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 6px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-weight: bold;
}

.btn-comprar {
  background-color: rgb(88, 131, 93);
  color: rgb(206, 206, 211);
  transition: background-color 0.3s ease; /* suaviza el cambio de color */
}

.btn-comprar:hover {
  background-color: rgb(
    70,
    115,
    80
  ); /* verde ligeramente más oscuro que el base */
  color: rgb(206, 206, 211);
}

.btn-count {
  background-color: rgb(38, 42, 46);
  color: rgb(206, 206, 211);
}

.btn-count:hover {
  background-color: rgb(58, 62, 66); /* fondo más claro que el normal */
  color: rgb(226, 226, 231);
}

.btn-number {
  color: black;
}

.btn-number:hover {
  color: rgb(39, 39, 39);
}
