@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&display=swap");

.nav-container {
  /* background-color: rgb(214, 149, 149); */
  background-color: rgb(138, 134, 143);
  display: flex;
  gap: 7rem;
  align-items: center;
  padding: 1rem;
  box-shadow: 0px 4px 12px rgb(194, 160, 160);
  height: 6em;

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.div-logo {
  flex-direction: row-reverse;
  justify-content: center;
  height: auto;
}

.div-href {
  font-size: 1.5rem;
  font-family: "Dancing Script";
  color: rgb(206, 206, 211);
  display: flex;
  gap: 10rem;
  margin-left: 5rem;
}

.a-nav {
  color: black;
  text-decoration: none;
  flex-direction: row;
  cursor: pointer;
  transition: color 0.3s ease;
  margin-top: 8px;
}

.a-nav:hover {
  color: rgb(206, 206, 211);
}

.logo {
  width: 9rem;
}

.a-nav.active {
  color: #fff;
  background-color: rgb(88, 131, 93);
  border-radius: 5px;
  font-weight: bold;
  padding: 5px;
  font-size: 1.3rem;
}
