@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&display=swap");

.nav-container {
  background-color: black;
  display: flex;
  gap: 7rem;
  align-items: center;
  padding: 1rem;
  box-shadow: 0px 4px 12px rgba(5, 1, 10, 0.25);
  height: 6em;
}

.div-logo {
  flex-direction: row-reverse;
  justify-content: center;
}

.div-href {
  font-size: 1.5rem;
  font-family: "Dancing Script";
  color: rgba(243, 203, 24, 0.836);
  display: flex;
  gap: 10rem;
  margin-left: 5rem;
}

.a-nav {
  color: rgba(243, 203, 24, 0.836);
  text-decoration: none;
  flex-direction: row;
  cursor: pointer;
  transition: color 0.3s ease;
  margin-top: 8px;
}

.a-nav:hover {
  color: rgb(83, 56, 156);
}

.logo {
  width: 6rem;
}

.a-nav.active {
  color: #fff;
  background-color: rgb(83, 56, 156);
  border-radius: 5px;
  font-weight: bold;
  padding: 5px;
  font-size: 1.3rem;
}
